#You can use following variables sent from mattermost to substitute MESSAGE or BUTTON variable text parts like {{var}}:
#channel_id=cniah6qa73bjjjan6mzn11f4ie&
#channel_name=town-square&
#command=/somecommand&
#response_url=not+supported+yet&
#team_domain=someteam&
#team_id=rdc9bgriktyx9p4kowh3dmgqyc&
#text=hello+world&
#token=xr3j5x3p4pfk7kk6ck7b4e6ghh&
#user_id=c3a4cqe3dfy6dgopqt8ai3hydh&
#user_name=somename
#room=sent_room or generated room with team_domain + _ + channel_name

TEAM_NAME=
TOKEN=oumspxbnspr5xjouhcbb1jdjgh
MESSAGE="{{user_name}} started meetup."
BUTTON="Join the meeting {{room}}"
PORT=3002